{% extends "layout/base.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}

<div class="container">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>Add Student</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label>Student ID</label>

<input
type="text"
name="student_id"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Name</label>

<input
type="text"
name="name"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Password</label>

<input
type="password"
name="password"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Year</label>

<input
type="text"
name="year"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Branch</label>

<input
type="text"
name="branch"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Section</label>

<input
type="text"
name="section"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Status</label>

<select
name="status"
class="form-select">

<option>Active</option>

<option>Inactive</option>

</select>

</div>

<button
class="btn btn-success">

Save Student

</button>

<a
href="/admin/students"
class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

{% endblock %}