{% extends "layout/base.html" %}

{% block title %}Add Computer{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>Add Computer</h3>

</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">

<label>System Number</label>

<input
type="text"
name="system_number"
class="form-control"
placeholder="Example: PC-01"
required>

</div>

<div class="mb-3">

<label>Status</label>

<select
name="status"
class="form-select">

<option>Working</option>

<option>Not Working</option>

</select>

</div>

<div class="mb-3">

<label>Issue</label>

<input
type="text"
name="issue"
class="form-control">

</div>

<div class="mb-3">

<label>Remarks</label>

<textarea
name="remarks"
class="form-control"></textarea>

</div>

<button class="btn btn-success">

Save Computer

</button>

</form>

</div>

</div>

{% endblock %}