{% extends "layout/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow">

<div class="card-body text-center">

<h1 class="mb-3">

Computer Lab Management System

</h1>

<p>

Welcome to CLMS

</p>

<hr>

<a href="/student/login"
class="btn btn-success btn-lg m-2">

Student Login

</a>

<a href="/admin/login"
class="btn btn-primary btn-lg m-2">

Admin Login

</a>

</div>

</div>

</div>

</div>

{% endblock %}